.cart-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-div p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  margin-top: 20px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 150px;
  height: 150px;
  padding: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 18px;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-details .price {
  font-weight: bold;
}

.removeBtn {
  cursor: pointer;
}
.removeBtn:hover {
  color: #ff0000;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
  margin-left: 5px;
  padding: 5px;
}

.clearCartBtn {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.clearCartBtn:hover {
  background-color: #cc0000;
}

.goBacktBtn {
  background-color: #dab600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.goBacktBtn:hover {
  background-color: #cbc600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 15px;
  background-color: #121619;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 grey;
  border-radius: 4px;
  color: #dab600;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color;
  border: none;
}

.btn:active {
  background-color: rgb(37, 235, 37);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 white;
  transform: scale(0.99);
}

.btn.disabled:active {
  background-color: rgb(224, 23, 23);
}

@media screen and (max-width: 768px) {
  .cart-div {
    height: auto;
    padding: 20px;
  }

  .cart-item {
    flex-direction: column;
    border-bottom: none;
  }

  .cart-item img {
    max-width: 80%;
    padding: 10px 0;
  }

  .cart-item-details {
    padding-left: 0;
  }

  .cart-item-details h3 {
    font-size: 16px;
  }

  .btnContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .clearCartBtn,
  .goBacktBtn {
    width: auto;
    margin-top: 5px;
  }
}
