.cart-div {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 18px;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item-details .price {
  font-weight: bold;
}

.clearCartBtn {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.clearCartBtn:hover {
  background-color: #cc0000;
}

.checkout-form {
  margin-top: 20px;
}

.checkout-form label {
  display: block;
  margin-bottom: 10px;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.checkout-form button {
  padding: 10px 20px;
  background-color: #dab600;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-form button:hover {
  background-color: #b39200;
}
