form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 3 1rem;
}

label > span {
  color: red;
  margin-left: 0.5rem;
}

label {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

input,
textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 20rem;
  width: 20rem;
  box-sizing: border-box;
}

form p {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin-top: -40px;
  background-color: grey;
  color: #121619;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

form button {
  border-radius: 5px;
  cursor: pointer;
}

.goBacktBtn {
  background-color: #dab600;
  color: #121619;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 5.5rem;
}

.goBacktBtn:hover {
  background-color: #cbc600;
}

@media screen and (max-width: 768px) {
  .goBacktBtn {
    width: auto;
    margin-top: 50px;
    margin-left: 8rem;
  }
}
