.footer {
  width: 100vw;
  height: 200px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  bottom: 0;
}

.socialMedia svg {
  color: whitesmoke;
  margin: 20px;
  font-size: 55px;
  cursor: pointer;
}

.footer .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: whitesmoke;
  gap: 10px;
}

.footer .info a {
  color: #dab600;
  text-decoration: none;
  opacity: 100;
}

.footer .info a:hover {
  color: whitesmoke;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .info a,
  .socialMedia svg {
    margin: 10px 0;
  }
}
