.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.google-button,
.facebook-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dab600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #121619;
  height: 80px;
  width: 250px;
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
}

.google-button .google-icon,
.facebook-button .facebook-icon {
  width: 30px;
  height: 30px;
  color: whitesmoke;
}

.google-button:hover,
.facebook-button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .google-button,
  .facebook-button {
    width: 250px;
    height: 60px;
    font-size: 16px;
    margin: 10px 0;
  }
}
