.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  flex: 0 0 33.3333%;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.menuItem div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.menuItem h1,
.menuItem p {
  text-align: justify;
  margin-left: 20px;
}

.menuItem .price {
  text-align: justify;
  margin: 25px 0;
  margin-bottom: 220px;
  font-weight: bold;
  color: #121619;
}

.menuItem .sizeButtons {
  display: flex;
  justify-content: space-around;
}

.menuItem button {
  padding: 8px 12px;
  cursor: pointer;
}

.menuItem button.selected {
  background-color: #dab600;
  color: #fff;
}

.menuItem label {
  font-weight: bold;
  font-size: 16px;
  color: #555;
}

.menuItem input {
  width: 40px;
  padding: 5px;
  font-size: 14px;
  //margin-bottom: 50px;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: justify;
}
.menuItem .sizeButtons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 110px;
  left: 0;
}

.menuItem .price,
.menuItem label,
.menuItem input {
  position: absolute;
  width: calc(100% - 40px);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -190px;
}

.menuItem .price {
  top: 25px;
}

.menuItem label {
  position: absolute;
  top: 85px;
  left: 15px;
}

.menuItem input {
  width: 40px;
  padding: 5px;
  font-size: 14px;
  top: 85px;
  left: 120px;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.cart-Btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: #121619;
  color: #dab600;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.cart-Btn:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* Additional styles for responsiveness */
@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
    z-index: 1;
  }

  .menuItem {
    max-width: 90%;
    margin: 10px auto;
    height: auto;
  }

  .menuItem div {
    height: 100px;
  }

  .menuItem h1,
  .menuItem p,
  .menuItem .price,
  .menuItem label {
    font-size: 14px;
  }

  .menuItem button {
    padding: 6px 10px;
    font-size: 13px;
  }

  .cart-Btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #121619;
    color: #dab600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
}
