.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.menuItem h1,
.menuItem p {
  text-align: center;
  margin-left: 20px;
}

.menuItem .price {
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
  color: #121619;
}

.menuItem .sizeButtons {
  display: flex;
  justify-content: space-around;
}

.menuItem button {
  padding: 8px 12px;
  cursor: pointer;
}

.menuItem button.selected {
  background-color: #dab600;
  color: #fff;
}

.menuItem label {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #555;
}

.menuItem input {
  width: 40px;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.cart-Btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: #121619;
  color: #dab600;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.cart-Btn:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* Existing styles */

/* Additional styles for responsiveness */
@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr; /* Two columns on medium-sized screens */
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr; /* One column on smaller screens */
  }

  .menuItem {
    width: 90%;
    margin: 10px auto;
    height: auto;
  }

  .menuItem div {
    height: 100px;
  }

  .menuItem h1,
  .menuItem p,
  .menuItem .price,
  .menuItem label {
    font-size: 14px;
  }

  .menuItem button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .cart-Btn {
    position: relative;
    margin-top: 20px;
    margin-right: 5px;
  }
}
