.navbar {
  width: 100%;
  max-width: 100%;
  height: 75px;
  background-color: #121619;
  display: flex;
  flex-direction: col;
}

.navbar .leftSide {
  flex: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 60px;
  cursor: pointer;
}

.navbar .leftSide span {
  color: whitesmoke;
  padding-top: 30px;
  font-size: 15px;
  font-weight: 600;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
}

.navbar a:hover {
  color: #dab600;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: black;
}

.navbar .rightSide img {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

.userDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.userDetail button {
  width: auto;
  max-width: 130px;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.userDetail button:hover {
  background-color: #ffffff;
  color: #121619;
}

.userProfile {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
}

.lng-menu {
  position: relative;
  display: inline-block;
}

.lng-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: whitesmoke;
  margin: 25px;
  position: relative;
}

.lng-btn img {
  width: 24px;
  height: auto;
  margin-right: 8px;
  border-radius: 50%;
}

.lng-btn span {
  font-weight: bold;
}

.dropdown-icon {
  margin-left: 8px;
  transition: transform 0.2s ease-in-out;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #121619;
  border-top: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content button {
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}

.dropdown-content button:hover {
  background-color: #07090a;
}

.dropdown-content button img {
  width: 24px;
  height: auto;
  margin-right: 8px;
}

.dropdown-content button .by {
  font-weight: bold;
  color: black;
}

.userPic {
  width: 25x;
  height: 25px;
}

.cart-container {
  margin-right: 20px;
  margin-top: 7px;
  position: relative;
}

.cart-container a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.cartItemCount {
  color: #dab600;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  right: 0px;
}

.menuBtnContainer {
  display: none;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 600px) {
  .menuBtnContainer {
    display: block;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 99999;
  }

  .menuBtnContainer:hover {
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .navbar.open {
    background-color: #121619;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100vh;
    padding: 20px;
    z-index: 9999;
  }

  .navbar .leftSide {
    padding-left: 0;
  }

  .navbar .rightSide {
    display: none;
  }

  .navbar .userDetail {
    margin-top: auto;
  }

  .navbar #open img {
    display: block;
  }

  .navbar .hiddenLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .lng-menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
  }

  .cart-container {
    display: block;
    position: absolute;
    top: 0px;
    margin-left: 75px;
    z-index: 999;
  }

  .userDetail {
    display: flex;
    position: absolute;
    bottom: 160px;
    left: 85px;
    z-index: 999;
  }
}
